body {
  background-color:#0B2F3A;
  text-align: center;
}

a {
  font-family: sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.hidden {
  display: none !important;
}


table {
text-align: center;
  margin: auto;
}

th, td {
  padding: 15px;
  border-left:8px solid #FFFFFF;
  background-color:#11B3A5;
}

td:hover {border:8px solid #FFFFFF;}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  width: 100%;
}
